
<div class="container">
<!-------------------------------------------Instructions section ----------------------------------------------------->
<div class="d-flex justify-content-center align-items-center " *ngIf="isInstructionsVisible ">
    <div class="container-fluid">
    <div class="row justify-content-center">

      <div class="col-md-9">
        <h1 class="row justify-content-center mt-4 bg-success text-light">Test Your Knowladge</h1>
          <p class="mb-4 mt-4 fs-5">Dear Student, <br>

            Please go through the online test instructions before you commence the test.</p>
            <div class="row justify-content-center align-items-center ">
          <h3 class="text-warning row justify-content-center align-items-center">Online Test Instructions</h3>
          <ol class="row justify-content-center align-items-center fs-5">
            <li class="my-3 ">You will have 10 minutes to answer all the questions.</li>
            <li class="my-3">There are 10 questions in total, each with a short answer.</li>
            <li class="my-3">You must answer each question before moving on to the next one.</li>
            <li class="my-3">Your answer will be saved automatically when you click the "Next Question" button.</li>
            <li class="my-3">Once you submit an answer for a question, you will not be able to go back to it.</li>
          </ol>

          <h4 class=" text-success fs-3 ">All The Best </h4>
          <button type="submit" class="btn btn-primary btn-lg px-1 mt-1  " (click)="startQuiz()">Start</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------------------Test Section ------------------------------------------------------------------>
<div class="d-flex justify-content-center align-items-center custom-height">
    <div class="container-fluid">
      <div class="row justify-content-center"> 
      
        <div class="col-md-9" *ngIf="isTestVisible">
          
          <div class="card card-margin  my-3 px-4">
            <form action="POST" (ngSubmit) = "submitAnswer()">
            
            <div class="form-group">
              <label class=" mt-4 mb-4 fs-3 text-primary bg-light">Question {{ currentQuestionIndex + 1 }}: {{ currentQuestion.text }}</label>
              <textarea class="form-control mb-4 fs-3 " id="text-input" [(ngModel)]="currentAnswer.text_answer" rows="3"></textarea>
            </div>
            </form>
          </div>
          <button type="submit" class="btn btn-primary btn-lg px-3 float-right " (click)="submitAnswer()">Next Question</button>
        </div>
<!-----------------------------------------------Finished Test -------------------------------------------------------------------------->
        <div *ngIf="isFinished" class="mt-5 text-center">
          <div class="alert alert-info mb-3 mt-3 py-5 " role="alert">
            <h2 class="mb-3 text-danger">Congratulations, you have finished the test!</h2> 
           
            <p class="lead mb-5">Click the button below to view your score and answers.</p>
            <button class="btn btn-light px-3 fs-5" (click)="finishTest()" [routerLink]="['/review']">View Score and Answers <i class="fas fa-clipboard-check"></i></button>
            
        </div>

      </div>
    </div>
  </div>
  
