<div class="banner">
    <video autoplay loop muted class="myvideo">
        <source src="../../../assets/studying.mp4" type="video/mp4">
    </video>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <form>
                    <h3 id="logo" style="direction: rtl;">إنشاء حساب</h3>
                    <div class="form-group mb-3">
                        <label class="form-label fs-5 fw-semibold text-dark" style="direction: rtl;">الاسم</label>
                        <input type="text" class="form-control bg-light ps-3" name="name" id="name" style="direction: rtl;">
                    </div>


                    <div class="form-group mb-3">
                        <label class="form-label fs-5 fw-semibold text-dark" style="direction: rtl;">عنوان البريد الإلكتروني</label>
                        <input type="email" class="form-control bg-light ps-3" name="email" id="email" style="direction: rtl;">
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label fs-5 fw-semibold text-dark" style="direction: rtl;">كلمة المرور</label>
                        <input type="password" class="form-control bg-light ps-3" name="password" id="password" style="direction: rtl;">
                    </div>


                    <div class="form-group mb-3">
                        <label class="form-label fs-5 fw-semibold text-dark" style="direction: rtl;">تأكيد كلمة المرور</label>
                        <input type="password" class="form-control bg-light ps-3" name="Cpassword" id="Cpassword" style="direction: rtl;">
                    </div>

                    <button type="submit" id="create" class="btn btn-primary my-2 px-3 btn-lg" style="direction: rtl;">إنشاء</button>
                    <a routerLink="/login" class="nav-link text-center text-dark fw-bold fs-5" style="direction: rtl;">تسجيل الدخول إلى حساب موجود</a>
                </form>

            </div>
        </div>
    </div>
</div>
