<div class="container-fluid bg-light mx-0  ">
    <div class="container ">
        <footer class="row row-cols-sm-2 row-cols-md-5   py-5 my-5 border-top ">
          <div class="col-lg-3">
            <h2 class="mx-3">MtiHan</h2>
            <h5 class="text-muted">&copy; 2023</h5>
          </div>
        </footer>
    </div>
       
    <div class="container ">
      <footer class="py-2 ">

        <p class="text-center text-muted">&copy; 2023 MtiHan,  All Rights Reserved. </p>
      </footer>
    </div>
    </div>