<div class="container mt-5">
    <h1 class="text-center mb-5">تقييم الاختبار</h1>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="text-center">السؤال</th>
          <th class="text-center">الإجابة</th>
          <th class="text-center">الدرجة</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grade of grades">
            <td>{{ getQuestionText(grade.questionId) }}</td>
            <td>{{ getAnswerText(grade.answerId) }}</td>
            <td>{{ grade.score }}</td>
        </tr>
        <tr >
            <td>jjj</td>
            <td>LLL</td>
            <td>20</td>
        </tr>
        <tr>
          <td></td>
          <td class="text-right"><strong>المعدل:</strong></td>
          <td><strong>{{ totalScore }}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  