<!-- بانر -->
<div class="banner ">
    <video autoplay loop muted plays-inline  class="myvideo" > 
        <source src="../../../assets/studying.mp4" type="video/mp4">
    </video>
    <div class="container ">
        <div class="row">
            <div class=" text1 col-lg-6 mx-auto text-center" ><h3 class="txt1"  >ابدأ<br><span class="homepage--top-link-txt-2"> التدريب </span></h3>
                <a href="#" class="button mt-6 " [routerLink]="['/exam']">انطلق</a></div>
            <div class=" text2 col-lg-6 mx-auto text-center"><h3 class="txt2">أدخل<br> <span class="homepage--top-link-txt-2">الامتحان</span></h3>
                <a href="#" class="button mt-6" [routerLink]="['/exam']">انطلق</a>   </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pb-4 mx-auto ">
        <div class="row">
            <div class=" Nosvaleurs  mx-auto fs-2 fw-semibold  mb-3"><span style="font-family: cursive; font-size:50px;">ن</span>هدفنا و <span style="font-family: cursive; font-size:50px;">أ</span>ولوياتنا</div>
            <div class=" circle col-lg-2 mx-auto fw-semibold fs-5"><h3 class="circle-h3">منهجية</h3> 
            <p >تمكينك من الاستفادة من مستوى تعليمي عالي الجودة</p>
        </div>
            <div class=" circle col-lg-2 mx-auto fw-semibold fs-5"><h3 class="circle-h3">جودة الخدمة</h3> 
            <p>نحن متاحون لك في جميع المراحل العمرية!</p>
        </div>
            <div class=" circle col-lg-2 mx-auto fw-semibold fs-5"><h3 class="circle-h3">التحديث</h3> 
            <p>نعمل باستمرار لتقديم مواد دعم متطورة وملائمة لاحتياجاتك</p>
        </div>
    </div>
    </div>