<div class="banner">
    <video muted loop  plays-inline  class="myvideo" > 
        <source src="../../../assets/studying.mp4" type="video/mp4">
    </video>
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-md-9">
       <!--[formGroup]="registerForm" (ngSubmit)="submitSignup()"-->
                    <form>
                        <h3 id="logo">تسجيل الدخول</h3>
                        <div class=" form-group my-2">
                            <label for="exampleInputEmail1" class="form-label fs-5 fw-semibold text-dark">عنوان البريد الإلكتروني</label>
                            <input type="email" class="form-control bg-light ps-3" id="email" name="email" >
                          </div>
                          <div class=" form-group my-2">
                            <label for="password" class="form-label fs-5 fw-semibold text-dark pb-0 ">كلمة المرور</label>
                            <input type="password" class="form-control bg-light ps-3" id="password" name="password" >
                          </div>
                          <button type="submit" class="btn btn-primary btn-lg px-3" [disabled]="">تسجيل الدخول</button> 
                          <a class="forgot fw-bold" href="" >هل نسيت كلمة المرور؟</a>
                          <a routerLink="/register" class="nav-link text-center text-dark fs-5 fw-bold ">تسجيل حساب جديد</a>
                    </form>
                     </div>
        </div>
    </div>